<nav class="navbar navbar-expand-lg custom-top">
  <div class="container ">

    <button class="navbar-toggler bg-white mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center"  id="navbarSupportedContent">
      <ul class="navbar-nav gap-5 custom_Nav_mediaQuery">
        <li class="nav-item"><a class="nav-link ancor_navbar_Custom myactive" routerLink="/" routerLinkActive="myactive" [routerLinkActiveOptions]="{exact: true}">Shooting Strategies</a></li>
        <li class="nav-item"><a class="nav-link ancor_navbar_Custom" routerLink="/term-condition" routerLinkActive="myactive">Warzone Tactics</a></li>
        <!-- <li class="nav-item"><a class="nav-link ancor_navbar_Custom" routerLink="">Battle Strategies</a></li> -->
        <li class="nav-item"><a class="nav-link ancor_navbar_Custom" routerLink="/category" routerLinkActive="myactive">Armory & Gear</a></li>
        <!-- <li class="nav-item"><a class="nav-link ancor_navbar_Custom" routerLink="">Map Guides</a></li> -->
        <li class="nav-item"><a class="nav-link ancor_navbar_Custom" routerLink="/post" routerLinkActive="myactive">Multiplayer Modes</a></li>
        <!-- <li class="nav-item"><a href="" class="nav-link ancor_navbar_Custom">Storyline Analysis</a></li> -->
      </ul>
    </div>
  </div>
</nav>
