<div class="card mt-5 shadow-effect bg-theme">
  <div class="card-body">
    <h4 class="text-black fw-bold">Leave a Comment</h4>
    <p>You Can Leave a Comment Using This Comment Form</p>

    <form action="" class="">
      <div class="form-gruop">
        <label for="" class="mb-2 fs-5">Full Name</label>
        <input type="text" class="form-control" placeholder="Enter Your Full Name">
      </div>
      <div class="form-group">
        <label for="" class="mb-2 fs-5">Comment</label>
        <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Add Your Comment"></textarea>
      </div>

      <button class="btn my_custom-btn mt-4">Send Your Comment</button>
    </form>
  </div>
</div>
