
<app-header></app-header>
<app-category-navbar></app-category-navbar>

<!-- <h1 class="play">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure molestiae non animi debitis rerum? Ab ea odio magnam ducimus, repellendus, odit fugiat voluptatibus dolorem architecto hic voluptates, harum cupiditate consectetur.</h1> -->

<div class="app-body">
  <!-- <app-post-card></app-post-card>
  <app-subscription-form></app-subscription-form> -->
  <router-outlet></router-outlet>
</div>

<div class="container my-5">
  <div class="row justify-content-center">
    <app-subscription-form></app-subscription-form>
  </div>
</div>

<app-footer></app-footer>

