<div class="card my-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="my-3 text-white">Comments (15,256)</h4>

    <div class="comment-box mt-3">
      <h6 class="mb-0">Samir Ahmed</h6>
      <small class="text-danger mt-2">Last Update - sep 20 , 2024</small>
      <div class="my-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore autem laborum nostrum totam fugit nihil fuga aspernatur in maiores laudantium natus delectus accusantium sed numquam sint mollitia, est quos soluta!
      </div>
      <a href="" class="mt-1"> Reply</a>
      <a href="" class="mt-1 ms-3">View Reply</a>
      <hr>
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">Samir Ahmed</h6>
      <small class="text-danger mt-2">Last Update - sep 20 , 2024</small>
      <div class="my-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore autem laborum nostrum totam fugit nihil fuga aspernatur in maiores laudantium natus delectus accusantium sed numquam sint mollitia, est quos soluta!
      </div>
      <a href="" class="mt-1"> Reply</a>
      <a href="" class="mt-1 ms-3">View Reply</a>
      <hr>
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">Samir Ahmed</h6>
      <small class="text-danger mt-2">Last Update - sep 20 , 2024</small>
      <div class="my-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore autem laborum nostrum totam fugit nihil fuga aspernatur in maiores laudantium natus delectus accusantium sed numquam sint mollitia, est quos soluta!
      </div>
      <a href="" class="mt-1"> Reply</a>
      <a href="" class="mt-1 ms-3">View Reply</a>
      <hr>
    </div>
  </div>
</div>
