<section class="">
  <div class="container mt-1 p-5 bk-second-color">
    <h1 class=" text-center fw-bold">WARZONE TACTICS</h1>
    <div class=" mt-4 bk-color">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/imgs-ai/06-0012690-64a725cdeddec.png" alt="" class="img-fluid">
          <p class="text-center fs-4">Game Tactics 1</p>
        </div>
        <div class="col-md-4">
          <img src="assets/imgs-ai/15-0013854-64b1f7072f76f.png" alt="" class="img-fluid">
          <p class="text-center fs-4">Game Tactics 2</p>
        </div>
        <div class="col-md-4">
          <img src="assets/imgs-ai/15-0067093-652b74ac2142d.png" alt="" class="img-fluid">
          <p class="text-center fs-4">Game Tactics 3</p>
        </div>
        <div class="col-md-4">
          <img src="assets/imgs-ai/21-0149564-655c06e8ae4c0.png" alt="" class="img-fluid">
          <p class="text-center fs-4">Game Tactics 4</p>
        </div>
        <div class="col-md-4">
          <img src="assets/imgs-ai/15-0067093-652b74ac6557c.png" alt="" class="img-fluid">
          <p class="text-center fs-4">Game Tactics 5</p>
        </div>
        <div class="col-md-4">
          <img src="assets/imgs-ai/11-0111636-654ee0a9ec780.png" alt="" class="img-fluid">
          <p class="text-center fs-4">Game Tactics 6</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center bg-white w-50 rounded p-1 mx-auto my-3">
          <h3>All Warzone Complete Tactics</h3>
        </div>
      </div>


      <div class="text-center">
        <button class="btn btn-lg mt-4 custom-button">Back To Home</button>
      </div>
    </div>
  </div>
</section>
