<footer class="">
  <div class="container">
    <div class="row">
      <div class="col-ms-12 text-center">
        <div class="Ancor_Footer_Custom text-center p-1 my-3">FPS Zone</div>
        <div>
          <ul class="nav justify-content-center gap-4 custom_nav_medieaQuery">
            <li class="nav-item"><a href="" class="nav-link ancor_navbar_Custom">Home</a></li>
            <li class="nav-item"><a href="" class="nav-link ancor_navbar_Custom">About</a></li>
            <li class="nav-item"><a href="" class="nav-link ancor_navbar_Custom">Terms & Conditions</a></li>
            <li class="nav-item"><a href="" class="nav-link ancor_navbar_Custom">Contact</a></li>
          </ul>
        </div>
        <p class="my-3   text-white copyRight_custom">Copyright @ {{date}} , Created By <span>Samir Ahmed</span> </p>
      </div>
    </div>
  </div>
</footer>
