<div class="card">
  <img src="assets/imgs-ai/25-0051361-6511bf9c1b4ad.png" alt="post-image" class="card-img-top" >
  <div class="card-body">
    <small class="ng-light custom_text_one text-center me-3">Design</small>
    <small class="ng-light custom_text_two text-center me-3">Design</small>
    <small class="ng-light custom_text_three text-center ">Design</small>

    <h5 class="mt-1">How To Play? </h5>
    <p class="text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, fuga saepe! Quaerat placeat cupiditate, eveniet fugit delectus deserunt maiores illo unde alias atque, qui molestias ea vitae ducimus! Veritatis, quae!</p>

    <small class="ng-light text-danger text-center me-3">Design</small>

  </div>
</div>
